<!DOCTYPE html>

<html>
   <head>
      <title>Forecast</title>
      <link rel='icon' href='/img/weather-icon.png'>
      <link rel='stylesheet' href='/css/styles.css'>
      <script src='/js/app.js'></script>
   </head>
   <body>
      <div class="main-content">
         {{>header}}
         <p>For all of your weather needs!</p>
      </div>

      {{>footer}}
   </body>
</html>